$primary: #2d54ff;

$bg-body: rgb(240, 246, 255);

$white: #ffffff;
$color--muted: rgba(125,125,125);
$color--primary: $primary;

$border-radius--main: 4px;
$border-radius--lg: $border-radius--main * 2;
$border-radius--xl: $border-radius--main * 3;

$shadow--main: 0px 8px 40px rgba(0,0,0,.125);

$border-main: 1px solid rgba(0,0,0,.125);
